<a href="https://colab.research.google.com/github/Adrian1228/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Punto 1

#Estructuras de repetición
Permite repetir una o más acciones de acuerdo con una condición (mientras se cumple la condición).

##Estructura para - for
1.    Cuando se sabe cuántas veces se repite una acción.
2.  Está conformado por una condición inicial (CI) una condición final (CF) y pasos (frecuencia de repetición).
3.  Esta estructura no se detendrá, hasta alcanzar CF-1

Estructura general del for


```
for (variabl) in range (CI, CF+1, paso):
  Se repite (CF+1-C1)/paso veces una acción
```
Estructura resumida del for

```
for (variable) in range(cantidad):
  Se repite cantidad de veces una acción
```
Estructura for como iteración
1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la iteración

```
Lista=[1,2,3,4,5
for(variable) in Lista:
  Se reíte len(Lista)
```

In [ ]:
#Hacer la tabla de multiplicar de un número n
n=int(input("Digita un número: "))

Digia un número: 3

In [ ]:
print(f"Tabla del {n}")
for holitas in range(1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

#2

In [ ]:
print("Tablas del 1 al 10\n")
print("")
for n in range(1,11,1):
  for holitas in range(1,11,1):
    print(f"{holitas} x {n} = {holitas}")
  print("")

Tbalas del 1 al 10


1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10

1 x 2 = 1
2 x 2 = 2
3 x 2 = 3
4 x 2 = 4
5 x 2 = 5
6 x 2 = 6
7 x 2 = 7
8 x 2 = 8
9 x 2 = 9
10 x 2 = 10

1 x 3 = 1
2 x 3 = 2
3 x 3 = 3
4 x 3 = 4
5 x 3 = 5
6 x 3 = 6
7 x 3 = 7
8 x 3 = 8
9 x 3 = 9
10 x 3 = 10

1 x 4 = 1
2 x 4 = 2
3 x 4 = 3
4 x 4 = 4
5 x 4 = 5
6 x 4 = 6
7 x 4 = 7
8 x 4 = 8
9 x 4 = 9
10 x 4 = 10

1 x 5 = 1
2 x 5 = 2
3 x 5 = 3
4 x 5 = 4
5 x 5 = 5
6 x 5 = 6
7 x 5 = 7
8 x 5 = 8
9 x 5 = 9
10 x 5 = 10

1 x 6 = 1
2 x 6 = 2
3 x 6 = 3
4 x 6 = 4
5 x 6 = 5
6 x 6 = 6
7 x 6 = 7
8 x 6 = 8
9 x 6 = 9
10 x 6 = 10

1 x 7 = 1
2 x 7 = 2
3 x 7 = 3
4 x 7 = 4
5 x 7 = 5
6 x 7 = 6
7 x 7 = 7
8 x 7 = 8
9 x 7 = 9
10 x 7 = 10

1 x 8 = 1
2 x 8 = 2
3 x 8 = 3
4 x 8 = 4
5 x 8 = 5
6 x 8 = 6
7 x 8 = 7
8 x 8 = 8
9 x 8 = 9
10 x 8 = 10

1 x 9 = 1
2 x 9 = 2
3 x 9 = 3
4 x 9 = 4
5 x 9 = 5
6 x 9 = 6
7 x 9 = 7
8 x 9 = 8
9 x 9 = 9
10 x 9 = 10

1 x 10 = 1
2 x 10 = 2
3 x 10 = 3
4 x 10 = 4
5 x 10 = 5
6 x 10 = 6
7 x 10 = 7
8 x 10 = 8
9 x 10 = 9
10 x 10 = 10

In [ ]:
print(f"Tabla del {n}")
for holitas in range (10):
    print(f"{n} x {holitas+1} = {n*(holitas+1)}")

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
print(f"Tabla del {n}")
for holitas in range (1,10*n,n):
  print(f"{n} x {int(holitas/n)} = {n*holitas}")

Tabla del 7
7 x 0 = 7
7 x 1 = 56
7 x 2 = 105
7 x 3 = 154
7 x 4 = 203
7 x 5 = 252
7 x 6 = 301
7 x 7 = 350
7 x 8 = 399
7 x 9 = 448

In [ ]:
print(f"Tabla del {n}")
for holitas in range (n,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros=(1,2,3,4,5,6,7,8,9,10)
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in numeros2:
   print(f"{n} x {num} ={n*num}")

7 x 1 =7
7 x 2 =14
7 x 3 =21
7 x 4 =28
7 x 5 =35
7 x 6 =42
7 x 7 =49
7 x 8 =56
7 x 9 =63
7 x 10 =70

##Listas
1. Es un tipo de dato
2. Todos los elemenos de una lista, **deben** separarse por comas
2. Forma canónica para declarar una lista


```
(variable)=[]
```

In [1]:
dahlia=3 #variable de tipo numérica, int
rosa="cinco" #variable de tipo alfanumérico, str
Flores=["amapola", "tulipan","lengua de suegra", dahlia, rosa]

4. Manual.


```
Lista2=[dato1, dato2, dato3,...datoN]

```
5. Siempre son finitas
6. Son indexadas


```
Lista2=[dato1, dato2, dato3,...datoN]

```
dato1 está en el index 0
dato 2 está ubicado en el index 1
7. Estrucutras **para** para la creación de listas.


```
#Ejemplo: Crear una lista de 5 elementos
lista=[] #Para que el programa sepa que es una lista
 for loquesea in range (5):
  lista=input("Ingrese el nombre de una flor")
```

In [19]:
3
  lista=input("Ingrese el nombre de una flor ")

Ingrese el nombre de una flor 1
Ingrese el nombre de una flor 2
Ingrese el nombre de una flor
Ingrese el nombre de una flor 4
Ingrese el nombre de una flor 5

In [ ]:
lista=[]
for loquesea in range (5):
  lista.append(loquesea)

In [17]:
lista

'6'

In [4]:
Flores

['amapola', 'tulipan', 'lengua de suegra', 3, 'cinco']

In [ ]:
#Quiero saber quién está en la primera posición
Flores[0]

In [5]:
Flores[4]

'cinco'

In [7]:
len(Flores)

5

In [8]:
Flores[len(Flores)-1]

'cinco'

In [10]:
Flores. index("lengua de suegra")

2

#EJERCICIOS

##1

In [1]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [18]:
lista=range(1,11)
for n in lista:
  print(n)

1
2
3
4
5
6
7
8
9
10

##2

In [36]:
suma=0
for i in range(1,101):
  suma+=i
print(suma)

5050

In [39]:
numeros=list(range(1,101))
suma(numeros)
  print(suma)

IndentationError: unexpected indent (ipython-input-2109547747.py, line 3)

##3

In [13]:
for n in range(3,31,3):
  print(n)

3
6
9
12
15
18
21
24
27
30

In [19]:
lista=range(3,31,3)
for n in lista:
  print(n)

3
6
9
12
15
18
21
24
27
30

##4

In [16]:
n=int(input("Ingresa un número"))
print(f"Tabla del {n}")
for holitas in range(1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

Ingresa un número3
Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [25]:
lista=range(1,11,1)
for n in lista:
  print(f"{n} x {holitas} = {n*holitas}")

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

##5

In [32]:
user=[]
n=0
for i in range(5):
  user.append(int(input("Ingresa un número ")))
  n=n+user[i]
prom= n/5
print(prom)

Ingresa un número 3
Ingresa un número 4
Ingresa un número 5
Ingresa un número 6
Ingresa un número 7
5.0

In [31]:
user

[3, 4, 5, 6, 7]

In [34]:
n1=int(input("Digite un número "))
n2=int(input("Digite otro número "))
n3=int(input("Digite otro número "))
n4=int(input("Digite otro número "))
n5=int(input("Digite otro número "))
prom=(n1+n2+n3+n4+n5)/5
print(prom)

Digite un número 3
Digite otro número 4
Digite otro número 5
Digite otro número 6
Digite otro número 7
5.0