<a href="https://colab.research.google.com/github/Adrian1228/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Punto 1

#Estructuras de repetición
Permite repetir una o más acciones de acuerdo con una condición (mientras se cumple la condición).

##Estructura para - for
1.    Cuando se sabe cuántas veces se repite una acción.
2.  Está conformado por una condición inicial (CI) una condición final (CF) y pasos (frecuencia de repetición).
3.  Esta estructura no se detendrá, hasta alcanzar CF-1

Estructura general del for


```
for (variabl) in range (CI, CF+1, paso):
  Se repite (CF+1-C1)/paso veces una acción
```
Estructura resumida del for

```
for (variable) in range(cantidad):
  Se repite cantidad de veces una acción
```
Estructura for como iteración
1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la iteración

```
Lista=[1,2,3,4,5
for(variable) in Lista:
  Se reíte len(Lista)
```

In [22]:
#Hacer la tabla de multiplicar de un número n
n=int(input("Digita un número: "))

Digia un número: 3

In [49]:
print(f"Tabla del {n}")
for holitas in range(1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

#2

In [17]:
print("Tablas del 1 al 10\n")
print("")
for n in range(1,11,1):
  for holitas in range(1,11,1):
    print(f"{holitas} x {n} = {holitas}")
  print("")

Tbalas del 1 al 10


1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10

1 x 2 = 1
2 x 2 = 2
3 x 2 = 3
4 x 2 = 4
5 x 2 = 5
6 x 2 = 6
7 x 2 = 7
8 x 2 = 8
9 x 2 = 9
10 x 2 = 10

1 x 3 = 1
2 x 3 = 2
3 x 3 = 3
4 x 3 = 4
5 x 3 = 5
6 x 3 = 6
7 x 3 = 7
8 x 3 = 8
9 x 3 = 9
10 x 3 = 10

1 x 4 = 1
2 x 4 = 2
3 x 4 = 3
4 x 4 = 4
5 x 4 = 5
6 x 4 = 6
7 x 4 = 7
8 x 4 = 8
9 x 4 = 9
10 x 4 = 10

1 x 5 = 1
2 x 5 = 2
3 x 5 = 3
4 x 5 = 4
5 x 5 = 5
6 x 5 = 6
7 x 5 = 7
8 x 5 = 8
9 x 5 = 9
10 x 5 = 10

1 x 6 = 1
2 x 6 = 2
3 x 6 = 3
4 x 6 = 4
5 x 6 = 5
6 x 6 = 6
7 x 6 = 7
8 x 6 = 8
9 x 6 = 9
10 x 6 = 10

1 x 7 = 1
2 x 7 = 2
3 x 7 = 3
4 x 7 = 4
5 x 7 = 5
6 x 7 = 6
7 x 7 = 7
8 x 7 = 8
9 x 7 = 9
10 x 7 = 10

1 x 8 = 1
2 x 8 = 2
3 x 8 = 3
4 x 8 = 4
5 x 8 = 5
6 x 8 = 6
7 x 8 = 7
8 x 8 = 8
9 x 8 = 9
10 x 8 = 10

1 x 9 = 1
2 x 9 = 2
3 x 9 = 3
4 x 9 = 4
5 x 9 = 5
6 x 9 = 6
7 x 9 = 7
8 x 9 = 8
9 x 9 = 9
10 x 9 = 10

1 x 10 = 1
2 x 10 = 2
3 x 10 = 3
4 x 10 = 4
5 x 10 = 5
6 x 10 = 6
7 x 10 = 7
8 x 10 = 8
9 x 10 = 9
10 x 10 = 10

In [30]:
print(f"Tabla del {n}")
for holitas in range (10):
    print(f"{n} x {holitas+1} = {n*(holitas+1)}")

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [40]:
print(f"Tabla del {n}")
for holitas in range (1,10*n,n):
  print(f"{n} x {int(holitas/n)} = {n*holitas}")

Tabla del 7
7 x 0 = 7
7 x 1 = 56
7 x 2 = 105
7 x 3 = 154
7 x 4 = 203
7 x 5 = 252
7 x 6 = 301
7 x 7 = 350
7 x 8 = 399
7 x 9 = 448

In [47]:
print(f"Tabla del {n}")
for holitas in range (n,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [48]:
numeros=(1,2,3,4,5,6,7,8,9,10)
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [50]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
for num in numeros2:
   print(f"{n} x {num} ={n*num}")

7 x 1 =7
7 x 2 =14
7 x 3 =21
7 x 4 =28
7 x 5 =35
7 x 6 =42
7 x 7 =49
7 x 8 =56
7 x 9 =63
7 x 10 =70