<a href="https://colab.research.google.com/github/Adrian1228/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Punto 1

#Estructuras de repetición
Permite repetir una o más acciones de acuerdo con una condición (mientras se cumple la condición).

##Estructura para - for
1.    Cuando se sabe cuántas veces se repite una acción.
2.  Está conformado por una condición inicial (CI) una condición final (CF) y pasos (frecuencia de repetición).
3.  Esta estructura no se detendrá, hasta alcanzar CF-1

Estructura general del for


```
for (variabl) in range (CI, CF+1, paso):
  Se repite (CF+1-C1)/paso veces una acción
```
Estructura resumida del for

```
for (variable) in range(cantidad):
  Se repite cantidad de veces una acción
```
Estructura for como iteración
1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la iteración

```
Lista=[1,2,3,4,5
for(variable) in Lista:
  Se reíte len(Lista)
```

In [ ]:
#Hacer la tabla de multiplicar de un número n
n=int(input("Digita un número: "))

Digita un número: 2

In [ ]:
print(f"Tabla del {n}")
for holitas in range(1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

#2

In [ ]:
print("Tablas del 1 al 10\n")
print("")
for n in range(1,11,1):
  for holitas in range(1,11,1):
    print(f"{holitas} x {n} = {holitas*n}")
  print("")

Tablas del 1 al 10


1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [ ]:
print(f"Tabla del {n}")
for holitas in range (10):
    print(f"{n} x {holitas+1} = {n*(holitas+1)}")

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
print(f"Tabla del {n}")
for holitas in range (n,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
numeros=(1,2,3,4,5,6,7,8,9,10)
for num in numeros:
  print(f"{n} x {num} = {n*num}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in numeros2:
   print(f"{n} x {num} ={n*num}")

2 x 1 =2
2 x 2 =4
2 x 3 =6
2 x 4 =8
2 x 5 =10
2 x 6 =12
2 x 7 =14
2 x 8 =16
2 x 9 =18
2 x 10 =20

##Listas
1. Es un tipo de dato
2. Todos los elemenos de una lista, **deben** separarse por comas
2. Forma canónica para declarar una lista


```
(variable)=[]
```

In [ ]:
dahlia=3 #variable de tipo numérica, int
rosa="cinco" #variable de tipo alfanumérico, str
Flores=["amapola", "tulipan","lengua de suegra", dahlia, rosa]

4. Manual.


```
Lista2=[dato1, dato2, dato3,...datoN]

```
5. Siempre son finitas
6. Son indexadas


```
Lista2=[dato1, dato2, dato3,...datoN]

```
dato1 está en el index 0
dato 2 está ubicado en el index 1
7. Estrucutras **para** para la creación de listas.


```
#Ejemplo: Crear una lista de 5 elementos
lista=[] #Para que el programa sepa que es una lista
 for loquesea in range (5):
  lista=input("Ingrese el nombre de una flor")
```

In [ ]:
lista=input("Ingrese el nombre de una flor ")

Ingrese el nombre de una flor 1
Ingrese el nombre de una flor 2
Ingrese el nombre de una flor
Ingrese el nombre de una flor 4
Ingrese el nombre de una flor 5

In [ ]:
lista=[]
for loquesea in range (5):
  lista.append(loquesea)

In [ ]:
lista

'6'

In [ ]:
Flores

['amapola', 'tulipan', 'lengua de suegra', 3, 'cinco']

In [ ]:
#Quiero saber quién está en la primera posición
Flores[0]

In [ ]:
Flores[4]

'cinco'

In [ ]:
len(Flores)

5

In [ ]:
Flores[len(Flores)-1]

'cinco'

In [ ]:
Flores. index("lengua de suegra")

2

#EJERCICIOS

##1

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
lista=range(1,11)
for n in lista:
  print(n)

1
2
3
4
5
6
7
8
9
10

##2

In [ ]:
suma=0
for i in range(1,101):
  suma+=i
print(f"La suma de los números del 1 al 100 es de {suma}")

La suma de los números del 1 al 100 es de 5050

In [ ]:
suma=0
lista=range(1,101)
for n in lista:
  suma+=n
print(f"La suma de los números del 1 al 100 es de {suma}")

La suma de los números del 1 al 100 es de 5050

##3

In [ ]:
for n in range(3,31,3):
  print(n)

3
6
9
12
15
18
21
24
27
30

In [ ]:
lista=range(3,31,3)
for n in lista:
  print(n)

3
6
9
12
15
18
21
24
27
30

##4

In [ ]:
n=int(input("Ingresa un número"))
print(f"Tabla del {n}")
for holitas in range(1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

Ingresa un número3
Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
lista=range(1,11,1)
for n in lista:
  print(f"{n} x {holitas} = {n*holitas}")

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

##5

In [ ]:
user=[]
n=0
for i in range(5):
  user.append(int(input("Ingresa un número ")))
  n=n+user[i]
prom= n/5
print(prom)

Ingresa un número 8
Ingresa un número 6
Ingresa un número 3
Ingresa un número 21
Ingresa un número 17
11.0

In [ ]:
user

[3, 4, 5, 6, 7]

In [ ]:
n1=int(input("Digite un número "))
n2=int(input("Digite otro número "))
n3=int(input("Digite otro número "))
n4=int(input("Digite otro número "))
n5=int(input("Digite otro número "))
prom=(n1+n2+n3+n4+n5)/5
print(prom)

Digite un número 2
Digite otro número 3
Digite otro número 4
Digite otro número 5
Digite otro número 6
4.0

#6

In [10]:
n=int(input("Ingrese un número "))
cont=0
for n in range(1,n+1):
  if n % 2 == 0:
    cont+=1
print(f"Entre 1 y {n} hay {cont} pares")

Ingrese un número 10
Entre 1 y 10 hay 5 pares

In [11]:
lista=(1, n+1)
for n in lista:
  if n % 2 == 0:
    cont+=1
print(f"Entre 1 y {n} hay {cont} pares")

Entre 1 y 11 hay 5 pares

#7

In [40]:
apell=input("Ingresa tu apellido: ")
lon=len(apell)
c=input("Ingresa una contraseña, debe tener tu apellido y el número de letras que tiene ")
if c==apell + str(lon):
  print("Bien, Contraseña creada")
else:
  print("Algo salió mal, revisa el número o el apellido ")

Ingresa tu apellido: alvarez
Ingresa una contraseña, debe tener tu apellido y el número de letras que tiene alvarez7
Bien, Contraseña creada

In [43]:
apell=input("Ingresa tu apellido: ")
lon=len(apell)
x=apell + str(lon)
for i in range(4):
  c=input("Ingresa una contraseña, debe tener tu apellido y el número de letras que tiene ")
  if c == x:
    print("Bien, Contraseña creada")
    break
else:
  print("Algo salió mal, revisa el número o el apellido ")

Ingresa tu apellido: alvarez
Ingresa una contraseña, debe tener tu apellido y el número de letras que tiene alvar7
Ingresa una contraseña, debe tener tu apellido y el número de letras que tiene alvarez7
Bien, Contraseña creada

#8

In [95]:
x=int(input("¿Cúantos números quieres que aparezcan de la serie de Fibonacci? "))
a, b=0,1
print(f"Los números de la serie de Fibonacci hasta {x} son: ")
for i in range(x+1):
  print(a)
  a, b = b, a + b

¿Cúantos números quieres que aparezcan de la serie de Fibonacci? 3
Los números de la serie de Fibonacci hasta 3 son:
0
1
1
2

In [97]:
x=int(input("¿Cúantos números quieres que aparezcan de la serie de Fibonacci? "))
a, b=0,1
y=[]
print(f"Los números de la serie de Fibonacci hasta {x} son: ")
for i in range(x+1):
  print(a)
  y.append(a)
  a, b = b, a + b

¿Cúantos números quieres que aparezcan de la serie de Fibonacci? 3
Los números de la serie de Fibonacci hasta 3 son:
0
1
1
2

#9

In [82]:
num=int(input("Ingresa un número "))
for n in range(2, num):
  if num % n == 0:
    print(f"El número {num} no es primo")
    break
else:
    print(f"El número {num} es primo")

Ingresa un número 73
El número 73 es primo

In [83]:
lista=(2, num)
for n in lista:
  if num % n == 0:
    print(f"El número {num} no es primo")
    break
else:
    print(f"El número {num} es primo")

El número 73 no es primo

#10

In [113]:
a=int(input("Ingresa la cantidad de números "))
b=0
c=0
d=0
for i in range (1,a+1):
  x=int(input(f"Ingresa el valor {i} "))
  if x==0:
    b=b+1
  elif x>0:
    c=c+1
  else:
    d=d+1
print(f"hay {c} positivos, {d} negativos y {b} que son 0")

Ingresa la cantidad de números 3
Ingresa el valor 1 1
Ingresa el valor 2 -2
Ingresa el valor 3 0
hay 1 positivos, 1 negativos y 1 que son 0

In [115]:
a=int(input("Ingresa la cantidad de números "))
b=0
c=0
d=0
y=[]
for i in range (1,a+1):
  x=int(input(f"Ingresa el valor {i} "))
  y.append(x)
  if x==0:
    b=b+1
  elif x>0:
    c=c+1
  else:
    d=d+1
print(f"hay {c} positivos, {d} negativos y {b} que son 0")

Ingresa la cantidad de números 3
Ingresa el valor 1 1
Ingresa el valor 2 0
Ingresa el valor 3 -3
hay 1 positivos, 1 negativos y 1 que son 0